.form-group#search_form
  = form_tag rules_path, method: 'get' do
    %label#search_label Find feats:
    = text_field_tag :search, params[:search], class: "form-control input"
    = submit_tag "Search", name: nil, class: "form-control btn btn-default", type: "button"
