= render "search"
.row
  %div{class: "col-md-9"}
    <!-- Table -->
    %table{class: "table table-hover"}
      %thead
        %tr
          %th Name
          %th Prerequisites
          %th Benefit
      %tbody#rules
      -@rules.each do |rule|
        %tr{id: "#{rule.id}", onclick: "show_content(this);"}
          %td= rule.name
          %td= rule.data["PrintPrereq"]
          %td= rule.data["ShortDescription"]
  #rule_panel{class: "col-md-3"}
    -if @rules.first
      .panel.panel-default#rule_data{'data-spy': "affix"}
        .panel-heading
          %h3.panel-title Feat
        .panel-body
          %strong Name:
          %span#rule_name= @rules.first.name
          %br
          %strong Prerequisites:
          %span#rule_prereqs= @rules.first.data['PrintPrereq']
          %br
          %strong Benefit:
          %span#rule_content= @rules.first.content.html_safe
