!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title D&D 4e Compendium
    = Gon::Base.render_data
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width = device-width, initial-scale = 1.0"}
  %body
    .container
      %h1 Welcome to Compendium!
      = yield
